@import url('https://fonts.googleapis.com/css?family=Caveat');
body, html {
  min-width: 550px;
  height: 100%;
  display: grid;
}

.container {
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;

}

#player-label {
  text-transform: capitalize; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1.5em;
  grid-column: 1 / 1;
  display: grid;
  grid-template-columns: repeat(2, 170px);
  grid-template-rows: auto;
  justify-content: space-evenly;
}

#go-player-1, #go-player-2 {
  padding: 5px;
  text-align: center;
}

#go-player-1 {
  color: white;
  background-color: #00CDCB;
  visibility: hidden;
}

#go-player-2 {
  color: white;
  background-color: #D1595E;
  visibility: hidden;
}


#scoreboard {
  width: 450px;
  height: 450px;
  margin: auto;
  padding-top: 5px;
  padding-left: 16.375px;
  padding-right: 0.1875px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.85);
  background-color: #F6B382;
  box-shadow: inset -1px -3px 20px 4px rgba(0,0,0,0.55),
  3px 7px 8px 4px rgba(0,0,0,0.75);
  background-image: -o-linear-gradient(left, #000, transparent);
  grid-auto-rows: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 20px;
  grid-gap: 1.5em;
  justify-content: space-evenly;
}

.score-options {
  margin-top: 0px;
  color: #875D4D;
  grid-auto-rows: auto;
  visibility: hidden;
  text-align: right;
}

#game-reset {
  text-transform: capitalize;
  justify-self: end;
}

#game-reset:hover {
  padding: auto;
  border: 2px dashed #875D4D;
  border-radius: 25px;
  cursor: pointer; 

}

#game-menu {
  margin: auto;
  color: #A0A7A5;
  text-align: center;
  width: 300px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);  */
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#question {
  width: 250px;
  color: white;
  font-size: 2em;
  grid-column: 1 / -1;
  justify-self: center;
}

.option {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 20px; */
  font-size: 1.7em;
  /* border: 1px solid white; */
}

#option-1:hover, #option-2:hover {
  border: 1px dashed white;
  border-radius: 25px;
  cursor: pointer;
}

#back-btn {
  grid-column: 1 / -1;
  visibility: hidden;
}

#back-btn:hover {
 color: white;
 cursor: pointer;
} 

#board {
  /* margin: auto; */
  padding: 14.5px;
  grid-column: 1 / span 3;
  background: radial-gradient(ellipse at center, 
  rgb(29, 83, 61) 0%, rgba(28,79,59,1) 17%, rgba(18,35,32,1) 100%);
  /* background-color: #142E26; */
  width: 351px;
  height: 351px;
  display: grid;
  grid-template-columns: repeat(3, 117px);
  /* grid-template-rows: 117px; */
  justify-content: space-evenly;
  /* border: 3px solid blue; */
  z-index: 1;
}

#game-end{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: repeat(2 1fr);
  align-items: center;
  justify-content: space-evenly;
  width: 351px;
  height: 351px;
  color: white;
  padding: 14.5px;
  text-align: center;
  /* margin: auto; */
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  z-index: 2;
}

#game-results {
  grid-column: 1 / span 2;
  font-size: 2em;
}

.game-end-options {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  
}



.square-hidden {
  display: none;
}

.square {
  /* padding: 8.5px; */
  height: 117px;
  color: #A0A7A5;
  font-size: 6em;
  text-align: center;
  border: 1px solid #A0A7A5;
}

.square-winner-1 {
  /* color: green; */
  background-color: #00CDCB;
}

.square-winner-2 {
  /* color: red; */
  background-color: #D1595E;
}

.top-row {
  border-top: 0px;
}

.right-col {
  border-right: 0px;
}

.bottom-row {
  border-bottom: 0px;
}

.left-col {
  border-left: 0px;
}

